body{
  width: 100%;
  color: #fff;
  background-color: #000;
  min-width: 1240px;
}
.wrapper{ 
  width: 98%; 
  margin: 0 auto;
}
/*.show{
  position: relative;
  width: 100%;height: 400px;
}
.center{
  position: absolute;
  top:50%;left: 50%;
  -webkit-transform:translate3d(-50%, -50%, 0);
      transform:translate3d(-50%, -50%, 0);
  width: 80px;height: 80px;
  background-color: blue;
  border-radius: 40px;
}
[id^="center"]{
  position: absolute;
  top:50%;left: 50%;
  -webkit-transform:translate3d(-50%, -50%, 0);
      transform:translate3d(-50%, -50%, 0);
   border:1px solid blue;
}
#center0{
  width: 140px;height: 140px;
 border-radius: 70px;
}
#center1{
  width: 200px;height: 200px;
  border-radius: 100px;
}
#center2{
  width: 260px;height: 260px;
  border-radius: 130px;
}
#center3{
  width: 320px;height: 320px;
  border-radius: 160px;
}*/
#canvas{ 
  margin: 0 100px;
 }
.console{
  width: 40%;height: 220px;
  margin:0 80px;
  border-radius: 10px;
  border:1px solid #fff;
}
.wrapper h5{
  width: 100px;
  font-size: 15px;
  margin: 10px auto;
}
.spaceship{
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
}
.spaceship > p{
  display: inline-block;
}
.order{
  display: inline-block;
  width: 15%;height: 20px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 20px;
  margin: 0 10px;
}
.terminal{
  float: right;
  width: 40%;height: 220px;
  margin-right: 80px;
  border-radius: 10px;
  border:1px solid #fff;
}