body{
  width: 70%;
  margin: 10px auto;
  display: flex;
  display: -webkit-flex;
  justify-content:space-around;
  flex-direction:column;
}

div{
  background: url("images/folder.png") no-repeat;
  background-color: #fff;
  padding:0 20px;
  box-sizing:content-box;
  -moz-box-sizing:content-box; /* Firefox */
  -webkit-box-sizing:content-box; /* Safari */
  border-radius: 5px; 
  border:1px solid #000;
  margin: 10px;
}
span{
  float: right;
  width: 15px;  
  height: 15px;
  margin: 3px 1% 0 0;
}
.delete {
  background: url(./images/close.png);
  display: none;
}
        
.add {
    background: url(./images/add.png);
    display: none;
}
.close{
  display: none;
  background: url(./images/f138.png);
  padding-top:2px;
  background-size: cover;
}
.add:hover,.delete:hover{
  display: block;
}
.find{background-color: red;}
button{
  width: 90px;height: 30px;
  margin:10px;
  background-color: #000;
  color:#fff;
  border: 0;
  font-size: 14px;font-family: "Microsoft YaHei";
}
.found{ background-color: red; }
.root{ width: 80%; }

input{
  width:150px;height: 20px;
  margin-top:10px;
}
.select{background-color:#DCDCDC;}
.select>span{display: inline-block;}
.child{display: none;}
