body{
	width: 100%;margin: 0;
	min-width: 900px;
	font-family: "Microsoft YaHei";
}
li { display: inline-block;}
a { text-decoration: none;}
.header-main{
	width: 90%;
	font-family: "SimHei";
	margin: 0 auto;
	height: 60px;
}
.logo{
	float: left;
	font-size: 22px;
}
.logo img{
	width: 40px;height: 40px;
	margin: 10px;
}
.logo span{
	float: right;
	margin-top: 22px;
	color: #2F4F4F;
}
.header-main ul { float: right; }
.header-main li{
	height: 31px;
	font-size: 16px;
	padding:5px 20px; 
	color:  #2F4F4F;
}
.header-main a { color:#2F4F4F; }
.active { border-bottom: 2px solid #eb1935; }
.active a { color: #eb1935; }
.login{
	float: right;
	margin: 20px 10px 0 10px;
}
.login span { color: #eb1935; }
.banner{
	background: url("images/banner1.png");
	background-size: cover;
	position:relative;
	margin-top: -2px;
	color:#ffffff;
	width: 100%;height:690px;
}
.inside{
	position: absolute;
	top:30%;left:10%;
}
.inside p{
	margin:20px 0 0 0;
	font-size: 68px;
}
.inside>span{ font-size: 22px; }
.banner .button{
	position:absolute;
	top:65%;left:10%;
	width:20%;height:60px;
	font-size:32px;
	background-color: #E7504D;
	text-align: center;
	border:0; color:#ffffff;
}
.second{
	width:90%;
	margin:0 auto;
	height: 250px;
}
.second ul { width:100%; padding-left: 0;}
.second li{
	width:24%;height:120px;
	text-align: center; color:  #999;
	margin-top: 5%;
}
.second p{
	width:70%;
	border-right:2px solid #999;
	margin-left: 15%; 
	padding-right: 15%;
	overflow: hidden;
}
.third{
	background-color: #EAEAEA;
	height:380px;
	text-align: center;
	position:relative;
}
.third-content{
	position: absolute;
	width: 800px;
   top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.third h1{
	font-size: 45px;
	color:#777;
}
.fourth{
	background:url("images/search.png");
	background-size: cover;
	position:relative;
	height:380px;
	font-size: 12px; color:#ffffff;
}
.word{
	position:absolute;
	top:60px;left:38%;
    text-align: center;
    font-weight: bold;
}
.shadow{
	width:30px;height:4px;
	background:#ffffff;
	margin:10px auto;
	border-radius: 4px;
}
.headerin{ font-size: 24px;}
.detailaddr{
	position:absolute;
	width: 1100px;
	 top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.detailaddr .select,button{
	width:250px;height:35px;
	margin-right:20px;
	display:inline-block;
}
.select{
	border:1px solid #CF5F59;
	background:#ffffff;
	font-size: 14px;
	color:#777;
}
.select img{
	float:right;
	margin:8px 8px 0 0;
}
.selconten{
	line-height: 35px;
	padding-left: 10px;
}
.select ul{
	border:1px solid #CF5F59;
	background-color: #EAEAEA;
	box-sizing:content-box;
	-moz-box-sizing:content-box; /* Firefox */
	-webkit-box-sizing:content-box; /* Safari */
	position:absolute;
	width:250px;top:23px;
	padding-left: 0;margin-left: -1px;
}
.select li{
	display:block;
	width:100%;height:35px;
	line-height: 35px;
	padding-left:35px;
}
.select li:hover{
	background: url("images/arrow.png") no-repeat 8px center;
	background-color:#CF5F59;
	color:#ffffff;
	width: 215px;
}
.detailaddr button{
	background:#CF5F59;
	color:#ffffff;border: 0;
}
.fifth{
	height: 600px;
	background:#F8F8FF; 
	position: relative;
}
.fifth ul{
	position: absolute;
	width: 1070px;
	padding: 0;
	top: 50%; left: 50%;
  	-webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.fifth li { 
	margin: 0 20px; 
	text-align: center;
	width: 221px; height:320px;
	background-color: #ffffff; 
	padding-top:10px; 
	border: 1px solid #F5F5F5;
	position: relative;
}
.painting img{
	vertical-align: middle;
}
.area{ margin-bottom: 6px;}
.actrua{
	font-size: 12px;
	color: #bcbdbd;
}
.special .address{
	position: absolute;
	top:-80px;left: 13%;
}
.special .area{
	letter-spacing: 25px;
	font-size: 20px;
}
.sixth { width: 100%;height: 600px;}
.left_content{
	position: relative;
	width: 67%;height: 100%;
	background: url("images/new1.png");
	background-size: cover;
	color: #ffffff;
}
.new{
	position: absolute;
	text-align: center;
	top: 50%;left: 50%;
	-webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.new h3{
	font-size: 56px;
	font-family: "SimHei";
	margin: 0;
}
.new h1{
	font-size: 142px;
	margin: 0;
}
.new p{font-size: 20px;}
.right_content{
	width: 33%;height: 100%;
	float: right;
	margin-top:10%;
	text-align: center;
}
.right-title{ font-size: 20px; }
.right_content span{color: #eb1935}
.right_content p{
	width: 60%;margin-left: 20%;
	font-size: 16px;color: #bcbdbd;
}
.more_detail{
	color: #eb1935;
	width: 20%;margin-top: 8%;
	margin-right: 0;
	background-color: #ffffff;
	border: 1px solid #eb1935
}
.more_detail:hover{
	color: #ffffff;
	background-color: #eb1935;
}
.right_content ul{padding-left: 0;}
.right_content .first{
	background: url("images/point_active.png") no-repeat;
	width: 12px; height: 12px;
}
.right_content li{
	background: url("images/point.png") no-repeat;
	width: 12px; height: 12px;
}
.seventh{width: 100%;height: 600px;	}
.left-content{
	float: left;
	position: relative;
	text-align: center;
	width: 33%;height: 100%;
	background-color: #e74f4d;
	color: #ffffff;
}
.seven-left{
	position: absolute;
	top: 50%;left: 50%;
	-webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.seven-left p{
	font-size: 20px;
	margin:10px;
}
.seven-left .button{
	border: 1px solid #ffffff;
	color:#ffffff;
	font-size: 20px;
	font-family: "SimHei";
	background: #e74f4d;
}
.right-content{
	float: right;
	width: 33%;height: 100%;
	background-size: cover;
}
.center-content{
	width: 34%;height: 100%;
	overflow: hidden;
	position: relative;
}