$width: 100%;
$basicColor: #e67114 ;
$white: #ffffff;
$basicEm: 3em;

@mixin boxShadow($h-shadow,$v-shadow,$bur,$spread,$color) {
	box-shadow: $h-shadow $v-shadow $bur $spread $color;
}
@mixin flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
body {
	margin: 0;
	font-family: 'Microsoft YaHei,Tahoma,Helvetica,Arial';
}
a{
	text-decoration: none;
	color: #555555;
	cursor: pointer;
}

button{
	border: 1px solid #cccccc;
	background-color: $white;
	border-radius: 0.3em;
	@include boxShadow(0.1em, 0.1em, 0.4em, 0, #888888);
	cursor: pointer; 
}
button:hover {
	background-color: $basicColor;
	color: $white;
	border: none;
	@include boxShadow(0, 0, 0.5em, 0, #888888);
}
header {
	background-color: $basicColor;
	width: $width; height: $basicEm;
	color: $white;
	line-height: $basicEm;
	.title {
		font-size: $basicEm/2;
	}
	.title::before {
		content: "?";
		width: 1.1em; height: 1.1em;
		margin-left : 10%;
		background-color: $white;
		color: $basicColor;
		font-family: 'Microsoft YaHei';
		font-size: 1em;
		text-align: center;
		line-height: 1.1em;
		border-radius: 0.5em;
		display: inline-block;
		margin-right: 0.5em;
	}
	.subtitle {
		margin-left: 4em;
		font-size: 1em;	
		a {
			text-decoration: none;
			color: $white;
		}
	}
}

#main-container {
	width: 80%;
	margin: 4em auto;
	padding: 1em 0 2.5em;
	@include boxShadow(0.1em, 0.3em, 2em, 0.1em, #888888);
}

.home_wrap {
	@include flexcenter;
	margin: 6em auto 4.5em;
	.additem {
		background-color: $basicColor;
		color: $white;
		width:12em; height: $basicEm;
		line-height: $basicEm;
		text-align: center;
		border-radius: 0.3em;
		@include boxShadow(0, 0, 0.5em, 0, #888888);	
		cursor: pointer;
		a{
			color: $white;
		}
		.add_item {
			font-size: 1.5em;
		}
		.add_item::before {
			content: "+  ";
			width: 1em;
			height: 1.2em; 
			font-size: 2em;
			vertical-align: middle;
			font-weight: bold;
			display: inline-block;
		}
	}
}
.focus {
	background-color: $basicColor;
	color: $white;
}
button {
	width: 6em ;height: 2em;
	margin-left: 0.5em;
}
.qnlist {
	width: 85%;
	margin: 1em auto;
	border-collapse: collapse;
	thead {
		font-size: 1.2em;
	}
	tr {
		height: 3em;
		text-align: center;
		td {
			border-bottom: 1px solid #dcdcdc;
		}
		@for $i from 1 to 4 {
			td:nth-child(#{$i}) {
				@if #{$i}<4 {
					width: (4 - $i) *10%;
				} @else {
					width: 40%;
				}
			}
		} 
	}
}

.mask {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.4);
}
.pop_ups {
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 30em; height: 15em;
	border: 1px solid #888888;
	border-radius: .5em; 
	overflow: hidden;
	@include boxShadow(0, 0, 0.5em, 0, #888888);
	background-color: $white;
	z-index: 2;
	.pop_head {
		@include flexcenter;
		height: 2.5em;
		font-weight: 700;
		.pop_head_title { 
			margin-right:calc(100% - 5em);
		}
		.pop_head_close::before {
			content: "X";
			font-family: arial;
			-webkit-font-smoothing: antialiased ;
		}
	}
	.pop_content {
		position: relative;
		width: calc(100% - 5em);
		height: calc(100% - 7em);
		margin: 2.5em auto 2.5em;
		text-align: center;
		line-height: 1.5;
		.btns {
			position: absolute;
			left: 50%;
			bottom: 0 ;
			transform: translateX(-50%);
		}
	}
}

.qn_head {
	@include flexcenter;
	flex-direction: column;
	width: 90%; height: 3em;
	margin: 0 auto 1em;
	font-weight: 700;
	font-size: 1.2em;
	color: #555555;
	.stastic_subtitle{
		font-size: 0.8em;
		color: #888888;
	}
}

hr {
	width: 93%;
	border-top: 2px solid #cccccc;
}

.edit_qn {
	color: #888888;
	.input_head{
		width: 90%; height: 3em;
		margin: 0 5% 1em 5% ;
		text-align: center;
		font-weight: 700;
		font-size: 1.2em;
		color: #555555;
	}
	.add_qn_wrap {
		margin: 1.5em auto;
		width: 90%; 
		.qt_type {
			@include flexcenter;
			width: 100%; 
			border: 1px solid #cccccc;
			border-bottom: none;
			.qt_type_choose {
				@include flexcenter;
				margin: 2em; 
				width: 6.2em; height: 2em;
				border: 1px solid #cccccc;
				border-radius: 0.3em;
				@include boxShadow(0.1em, 0.1em, 0.4em, 0, #888888);
				cursor: pointer;
			}
		}
		.add_qn {
			@include flexcenter;	
			width: 100%; 
			height: 5em;
			border: 1px solid #cccccc;
			cursor: pointer;
		}
		.add_qn::before {
			content: "+ ";
			font-size: 1.7em;
			font-weight: 700;
			margin-right: 0.7em;
		}
	}
	
	.edit_qn_footer {
		@include flexcenter;
		width: 90%;
		.deadline{
			position: relative;
		}
		.footer_btns {
			margin-left:40% ;
			button {
				color: #888888;
			}
			button:hover{
				color: $white;
			}
		}
	}
}

.qtlist {
	width: 90%;
	margin: 2em auto;
	color: #555555;
	.qt_item {
		padding: 1em 1.5em;
		// line-height: 1.5;
		&:hover  .qt_edit {
			visibility: visible;
		}
		&:hover  .add_qt {
			visibility: visible;
		}		
	}
}

.qt_caption {
	.qt_caption_content {
		width: calc(100% - 4.8em);
		height: calc(1.5em - 4px);
		margin-left: 1em;
		display: inline-block;
	}
}
.options {
	padding: 0.3em 2.4em;
	span{
		padding-left: .3em;
	}
	.opitem:hover .removeop{
		display: inline-block;
	}
	.removeop{
		color: #555555;
		font-family: arial;
		cursor: pointer;
		display: none;
	}
	.add_qt {
		@include flexcenter;
		width: calc(100% - 4.8em);
		height: calc(1.5em - 4px);
		margin: 0.25em auto;
		cursor: pointer;
		visibility: hidden;
	}

	.add_qt::before {
		content: "+ ";
		font-size: 2em;
		font-weight: 800;
	}
	textarea{
		width: calc(100% - 4.8em);
		height: 5em;
		margin-top: 0.25em;
	}
}
.qt_edit {
	width: 100%;
	text-align: right;
	visibility: hidden;
	.edit_opration {
		display: inline-block;
		margin-left: $basicEm/3;
		span{
			cursor: pointer;
		}
	}
}
.stastic_head{
	position: relative;
}
.back {
	position: absolute;
	font-size:1em;
	left: 3.6em;
}
.back::before {
	content: "<";
	margin-right: 0.6em;
}
.stastic_item {
	position: relative;
	margin-top: 2em;
	padding: 1.25em 2em;
	box-sizing: border-box;
	border: 1px solid #888888;
	.statistic_chart {
		position: absolute;
		top: 1.25em;
		right: 2em;
	}
}
.qtlist_footer {
	@include flexcenter;
	margin-top: 2em;
	button::before {
		content: "<";
		margin-right: 0.6em;
	}
}

.dur-transition {
	height: 5em;
	transition: all 0.3s ease-in;
}
.dur-enter, .dur-leave{
	height: 1.8em;
}
.stastic_qt{
	margin: 2em auto;
	border: 1px solid #888888;
}
